<div class="row header-row">
    <div class="cell">

    </div>
    <div *ngFor="let device of devices" class="header cell">
        <h2 class="centered">{{device.name}}</h2>
    </div>
</div>
<div class="row" *ngFor="let view of views">
    <div class="header cell">
        <div class="centered">
            <h2>{{view.name}}</h2>
            <app-view-data-button view="view"></app-view-data-button>
        </div>
    </div>
    <div class="cell" *ngFor="let device of devices">
        <app-cell [device]=device [view]=view></app-cell>
    </div>
</div>
