.row {
    display: flex;
    height: 300px;
}

.cell{
    position: relative;
    min-width: 300px;
    max-width: 300px;
    flex-basis: 0;
    flex-grow:1;
    border: 5pt solid white;
}
.header>h2{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
