<div class="table">

    <div class="row header-row">
        <div class="cell"></div>
        <div class="cell" *ngFor="let c of cols"><h2>{{c}}</h2></div>
    </div>


    <div class="row" *ngFor="let r of rows; index as i">
        <div class="cell">
            <h2>{{getRowName(r)}}</h2>
            <app-table-modal-button viewname={{r}}></app-table-modal-button>
        </div>
        <app-compare-table-cell class="cell" *ngFor="let c of cols" [row]="r" [col]="c"></app-compare-table-cell>
    </div>
</div>
