.table {
    margin-top: 50px;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}

.row {
    display: flex;
    flex-direction: row;
}


.cell {
    flex: 1 1 0;
    position: relative;
    max-width: 300px;
    max-height: 300px;
    min-width: 200px;
    min-height: 100px;
    text-align: center;
    margin:5px;
}

app-compare-table-cell:hover{
    z-index: 100;
}
