.property {
    display: flex;
}

.property-name {
    flex-basis: 2;
    min-width: 100px;
}

.property-value {
    flex-basis: 1;
    min-width: 90px;
    max-height: 90px;
    text-align: center;
}

.green{
    color: green;
}
