<div class="modal-content">

    <button mat-button mat-dialog-close type="button" name="close" >
        <span>&times;</span>
    </button>

    <h1>{{viewData.viewName}}</h1>

    <div class="property headers">
        <h4 class="property-name"></h4>
        <h4 class="property-value" *ngFor="let device of devices">
            {{device.name}}
        </h4>
    </div>

    <div class="property" *ngFor="let property of propertiesList | async">
        <p class="property-name">
            {{property.name}}
        </p>

        <p class="property-value green" *ngFor="let device of devices">
            {{property[device.name] ? 	"&#x2714;" : ""}}
        </p>

    </div>

</div>
