
img {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%,-50%);
}

.cell {
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.cell:hover {
    transform: scale(1.1);
    z-index: 100;
    overflow: visible;
}

.cell:hover img {
    border: 3pt solid white;
    border-radius: 15pt;

}
